
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --mainColor: rgb(65, 105, 225);
  --whiteColor: #fff;
  --blackColor: #000;
  --transparentColor: rgba(96, 94, 94, 0.3);
}

/* Skills page */

.Skills-container {
  width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  align-content: center;
  margin-top: 100px;
  z-index: 10;
}

.Skills-contents {
  width: 95vw;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.Skills-contents .skiils-navbar {
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding: 10px;
  border-right: dotted 1px var(--whiteColor);
}

.skiils-navbar img {
  width: 7vw;
  height: 14vh;
  border-radius: 100%;
}

.skiils-navbar h2 {
  font-size: 19px;
}

.skiils-navbar h2 span {
  color: var(--mainColor);
}

.skiils-navbar .skills-icon-container {
  width: 25vw;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: dotted 1px var(--whiteColor);
  padding: 10px;
}

.skiils-navbar .skills-icon-container a {
  color: var(--whiteColor);
  text-decoration: none;
}

.nav-container .nav-desktop a {
  text-decoration: none;
  color: var(--whiteColor);
  font-family: 'Poppins', serif;
  font-weight: 500;
  transition: all 0.3s ease;
  line-height: 27.2px;
  font-size: 18px;
}

.skiils-navbar .skills-icon-container a:hover {
  color: var(--mainColor);
}

.cv-button {
  text-align: center;
  text-decoration: none;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 10px 20px;
  border: solid 1px black;
  border-radius: 20px;
  width: 150px;
}

.cv-button:hover {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}

.skills-parts ul {
  padding: 0;
}

.skills-parts ul li {
  list-style-type: none;
}

.skills-parts {
  overflow-y: scroll;
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.skills-parts h3 {
  margin-bottom: 10px;
}

/* NavBar For desktop */
.mobile-hamburger {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container .nav-desktop {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: fixed;
  top: 0;
  padding: 40px 20px;
  right: 5vw;
  background-color: var(--blackColor);
  z-index: 1000;
}

.nav-container .nav-desktop a:hover {
  color: var(--mainColor);
}

/* Navbar mobile style */
@media only screen and (max-width: 999px) {
  .mobile-hamburger {
    display: block;
  }

  .hamburger-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 90vw;
  }

  .nav-container .nav-desktop {
    display: none;
  }

  .taggle-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
  }

  .nav-container .hamburger-icon {
    align-self: flex-end;
  }

  .taggle-menu a {
    text-decoration: none;
    color: var(--whiteColor);
    font-family: 'Poppins', serif;
    font-weight: 500;
    transition: all 0.3s ease;
    line-height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 25px;
    width: 50vw;
  }

  .popup-items a {
    color: var(--whiteColor);
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--mainColor);
    transition: all 0.3s ease;
  }

  .taggle-menu a:hover {
    color: var(--mainColor);
  }

  /* Home page responsiveness */
  .home-container {
    margin-top: 20px;
  }

  .home-contents {
    width: 90vw;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
    padding: 0 5vw;
  }

  .home-contents .paragraph {
    width: 80vw;
  }

  .home-contents .title {
    width: 80vw;
  }

  /* about page responsiveness */
  .About-container {
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
    justify-content: flex-start;
  }

  .about-contents {
    height: auto;
    overflow-y: visible;
    justify-content: flex-start;
  }

  .about-contents .let-connect {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vw;
  }

  .skiils-navbar img {
    width: 40vw;
    height: 20vh;
    border-radius: 100%;
    margin-top: 20px;
  }

  .project-contents img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }

  .popup-items img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }

  .about-contents .let-connect img {
    width: 80vw;
    height: 40vh;
    border-radius: 10px;
  }

  .project-title p {
    width: 80vw;
  }

  .about-contents .let-connect p {
    width: 80vw;
  }

  .about-contents .languages {
    padding: 0;
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }

  .Contact-contents h2 {
    margin-left: 20px;
    margin-top: 30px;
  }

  .about-contents .languages h2 {
    align-self: flex-start;
  }

  .languages .languages-spoken-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  .about-contents .paragrapgh {
    width: 80vw;
  }

  .about-contents .connect {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .about-contents .media-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    align-self: flex-start;
    padding: 0;
  }

  /* Skills responsiveness */
  .Skills-container {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    padding-top: 15px;
    align-content: center;
    margin-top: 0;
    z-index: 10;
  }

  .Skills-contents {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
  }

  .Skills-contents .skiils-navbar {
    width: 80vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-right: none;
    margin-bottom: 0;
  }

  .skiils-navbar .skills-icon-container {
    width: 80vw;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: dotted 1px var(--whiteColor);
    padding: 10px;
  }

  .cv-button {
    text-align: center;
    text-decoration: none;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 20px;
    width: 80vw;
  }

  .skills-parts {
    overflow-y: visible;
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-bottom: 170px;
  }

  /* Contact page responsiveness */
  .Contact-container {
    width: 95vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .Contact-contents {
    width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }

  .span-touch {
    color: var(--mainColor);
    margin-left: 20px;
  }

  .Contact-contents .Contact-info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    justify-content: flex-start;
  }

  .Contact-info .info-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 35vw;
  }

  .Contact-info .form-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    gap: 20px;
  }

  .Contact-info .contact-link-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background: var(--transparentColor);
    border-radius: 10px;
    padding: 10px;
    width: 80vw;
  }

  .popup-items a:hover {
    color: var(--blackColor);
    background-color: var(--whiteColor);
  }

  .Contact-info .contact-link-container a:hover {
    color: var(--mainColor);
  }

  .form-items .fields {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }

  .form-items .fields input {
    width: 80vw;
    background: var(--transparentColor);
    border-radius: 10px;
    color: var(--whiteColor);
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 20px;
  }

  textarea {
    width: 80vw;
    height: 80px;
    background: var(--transparentColor);
    border: none;
    outline: none;
    color: var(--whiteColor);
    font-size: 15px;
    padding: 10px 20px;
  }

  .submit {
    align-self: flex-start;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 20px;
    width: 80vw;
    font-size: 15px;
    cursor: pointer;
  }

  /* Project Responsiveness */
  .project-container {
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
  }

  .project-contents {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
  }

  .project-contents .project-title {
    align-self: center;
    width: 80vw;
    gap: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
  }

  .project-contents .image-sliding-container {
    cursor: pointer;
  }

  .slick-slider {
    width: 80vw;
    align-self: center;
  }

  .slick-list {
    padding: 0;
    margin: 0;
    width: 80vw;
  }

  /* PopUp (Modal)  responsiveness */
  .popup-container {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.778);
    font-size: 15px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .popup-contents {
    width: 95vw;
    height: 95%;
    background-color: rgba(31, 30, 30, 0.898);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: #a2a2a2a2;
    font-size: 15px;
    overflow-y: scroll;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 2;
    margin: 20px 0;
  }

  .popup-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .popup-items ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  .popup-items ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--mainColor);
    background: var(--whiteColor);
  }

  .popup-items .source-live {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .source-live .source-icon,
  .live-icon {
    margin-left: 15px;
  }

  .close-icon {
    position: fixed;
    right: 300px;
    top: 30px;
    color: var(--whiteColor);
    z-index: 10000;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 30%;
    border: solid 2px var(--whiteColor);
  }

  /* UPDATE HOMEPAGE WITH THE REST OF THE COMPONENTS */
  .home-container .about-contents {
    margin-top: 50px;
  }

  .home-container .Contact-contents {
    margin-top: 50px;
  }

  .home-container .skills-parts {
    margin-bottom: 0;
  }

  .home-container .Skills-contents {
    margin-top: 50px;
  }

  .home-container .Skills-contents .skiils-navbar {
    height: auto;
  }

  .home-container .Skills-contents .skills-parts {
    height: auto;
    margin-top: 0;
  }

  .home-container .Skills-contents .skiils-navbar .home-hide {
    display: none;
  }

  .home-contents .get-in-touch {
    width: 80vw;
  }
}

/* small screens and small height */
@media only screen and (max-width: 999px) and (max-height: 800px) {
  .skills-parts {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 360px) and (max-height: 900px) {
  .skills-parts {
    margin-top: 170px;
  }
}

@media only screen and  (width: 375px) and  (min-height: 801px) and  (max-height: 890px) {
  .skills-parts {
    margin-top: 50px;
  }
}

@media only screen and (max-height: 690px) {
  .skills-parts {
    margin-top: 20vh;
  }
}

/* TABLETS PARTS */
@media only screen and (max-width: 1200px) and (min-width: 700px) {
  .Contact-contents h2 {
    margin-top: 30px;
    align-self: center;
    width: 80vw;
  }

  .skiils-navbar img {
    width: 200px;
    height: 200px;
  }

  .about-contents .let-connect img {
    width: 400px;
    height: 300px;
  }

  .home-contents .get-in-touch,
  .cv-button,
  .submit {
    width: 150px;
    align-self: flex-start;
    padding-left: 0;
  }

  .home-container .about-contents {
    height: auto;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1000px) {
  .home-contents {
    width: 90vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 20vh;
    margin-bottom: 15vh;
  }

  .Skills-container {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    align-content: center;
    margin-top: 100px;
    z-index: 10;
    overflow-y: visible;
  }

  .project-contents .project-title {
    margin-top: 30px;
  }

  .Skills-contents {
    width: 60vw;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
  }

  .Skills-contents .skiils-navbar {
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding: 10px;
    border-right: dotted 1px var(--whiteColor);
  }

  /* about page desktop responsiveness */

  /* UPDATE HOMEPAGE WITH THE REST OF THE COMPONENTS */
  .home-container .project-contents {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20vh;
    margin-top: 20vh;
  }

  .home-container .Contact-contents {
    justify-content: flex-start;
    margin-top: 40vh;
  }

  .About-container {
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .about-contents {
    height: auto;
    overflow-y: visible;
  }

  .about-contents .let-connect {
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }

  .project-contents img {
    width: 200px;
    height: 200px;
  }

  .popup-items img {
    width: 400px;
    height: 300px;
  }

  .about-contents .let-connect img {
    width: 15vw;
    border-radius: 10px;
  }

  .languages .languages-spoken-list {
    width: 50vw;
  }
}

/* SMALL SCREENS DESKTOP */

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .home-contents .get-in-touch {
    width: 150px;
    align-self: center;
    padding-left: 0;
  }

  .Contact-contents h2 {
    width: auto;
  }

  .about-contents .let-connect img {
    width: auto;
  }
}
