
.part {
    height: 300px;
    margin-left: auto;
    width: 100%;
    margin-top: 35%;
  }

  .part div {
    height:100%; 
    display:inline-block; 
    position:relative; 
    top:20%; 
    margin:0 1.5%;

  }


  @media only screen and (max-width: 1024px){
    .part{
      height: 200px;
    }

    .part div {
      height:100%; 
      display:inline-block; 
      position:relative; 
      top:20%; 
 }

    .navbar{
        top:-1px;
    }
  }