
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --mainColor: rgb(65, 105, 225);
  --whiteColor: #fff;
  --blackColor: #000;
  --transparentColor: rgba(96, 94, 94, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background-color: rgb(29, 39, 56);
  color: var(--whiteColor);
  font-size: 15px;
  line-height: 25px;
}

.mkp-span {
  color: var(--mainColor);
}

.home-container,
.About-container,
.Contact-container,
.project-container {
  width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-contents,
.about-contents,
.Contact-contents {
  width: 90vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home-contents {
  min-height: auto;
}

.home-contents .paragraph {
  width: 60vw;
  font-family: 'Poppins', serif;
}

.home-contents .title {
  line-height: normal;
}

.home-contents .get-in-touch {
  text-align: center;
  text-decoration: none;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 10px 20px;
  border: solid 1px black;
  border-radius: 20px;
  width: 150px;
}

.home-contents .get-in-touch:hover {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}

/* about page */
.About-container {
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.about-contents {
  height: 60vh;
  overflow-y: scroll;
}

.about-contents .let-connect {
  display: flex;
  width: 60vw;
  align-items: center;
  gap: 5vw;
}

.project-contents img {
  width: 200px;
  height: 200px;
}

.popup-items img {
  width: 400px;
  height: 300px;
}

.about-contents .let-connect img {
  width: 15vw;
  border-radius: 10px;
}

.project-title p {
  width: 60vw;
  font-family: 'Poppins', serif;
}

.about-contents .let-connect p {
  width: 40vw;
  font-family: 'Poppins', serif;
}

.about-contents .languages {
  padding: 0;
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.popup-items h2,
h3 {
  color: var(--whiteColor);
}

.about-contents .languages h2 {
  align-self: flex-start;
}

.languages .languages-spoken-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0;
}

.slick-dots li {
  list-style: none;
  color: white;
}

.popup-items ul li {
  list-style: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--mainColor);
  background: var(--whiteColor);
}

.languages .languages-spoken-list li {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}

.languages .languages-spoken-list li span {
  text-decoration: none;
}

.about-contents .paragrapgh {
  width: 60vw;
  font-family: 'Poppins', serif;
}

.about-contents .connect {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-contents .media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  align-self: flex-start;
  padding: 0;
}

.connect-title {
  align-self: flex-start;
}

.about-contents .media-icons li {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-items a {
  color: var(--whiteColor);
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--mainColor);
  transition: all 0.3s ease;
}

.Contact-info .contact-link-container a {
  color: var(--whiteColor);
  text-decoration: none;
}

.popup-items a:hover {
  color: var(--blackColor);
  background-color: var(--whiteColor);
}

.about-contents .media-icons li a {
  text-decoration: none;
  font-size: 2rem;
}

.Contact-info .contact-link-container a:hover {
  color: var(--mainColor);
}

/* Social media icons */

.whatsapp {
  color: rgb(135, 242, 128);
}

.medium {
  color: var(--blackColor);
  background-color: var(--whiteColor);
}

.linkedin {
  color: rgb(46, 87, 239);
}

.github {
  background-color: var(--blackColor);
  color: var(--whiteColor);
}

.angelist {
  color: rgb(46, 87, 239);
}

.twitter {
  color: var(--mainColor);
}

/* Contact page */

.span-touch {
  color: var(--mainColor);
  margin-left: 5px;
}

.Contact-contents .Contact-info {
  display: flex;
  width: 65vw;
  align-items: center;
  justify-content: space-between;
}

.Contact-info .info-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 35vw;
}

.Contact-info .form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  gap: 20px;
}

.Contact-info .contact-link-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--transparentColor);
  border-radius: 10px;
  padding: 10px;
  width: 30vw;
}

.form-items .fields {
  display: flex;
  width: 25vw;
  justify-content: space-between;
  align-items: center;
}

.form-items .fields input {
  width: 12vw;
  background: var(--transparentColor);
  border-radius: 10px;
  color: var(--whiteColor);
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px 20px;
}

textarea {
  width: 25vw;
  height: 80px;
  background: var(--transparentColor);
  border: none;
  outline: none;
  color: var(--whiteColor);
  font-size: 15px;
  padding: 20px;
}

.submit {
  align-self: flex-start;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 10px 20px;
  border: solid 1px black;
  border-radius: 20px;
  width: 150px;
  font-size: 15px;
}

.submit:hover {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}

/* PROJECTS */

.project-container {
  color: var(--whiteColor);
  flex-direction: column;
}

.project-contents {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.project-contents .project-title {
  align-self: center;
  width: 60vw;
  gap: 50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-contents .image-sliding-container {
  cursor: pointer;
}

.project-contents .image-sliding-container h2 {
  align-self: center;
}

.slick-slider {
  width: 60vw;
}

.slick-list {
  padding: 0;
  margin: 0;
  width: 60vw;
}

.slick-dots {
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  height: 5vh;
}

/* PopUp(Modal) */
.popup-container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.778);
  font-size: 15px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.popup-contents {
  width: 50vw;
  height: 90%;
  background-color: rgb(41, 39, 39);
  color: #a2a2a2a2;
  font-size: 15px;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  margin: 20px 0;
}

.popup-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup-items ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.popup-items .source-live {
  display: flex;
  align-items: center;
  gap: 20px;
}

.source-live .source-icon,
.live-icon {
  margin-left: 15px;
}

.close-icon {
  position: fixed;
  right: 300px;
  top: 30px;
  color: var(--whiteColor);
  z-index: 10000;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 30%;
  border: solid 2px var(--whiteColor);
}

.close-icon:hover {
  border-radius: 100%;
}

.code-skill-p {
  padding: 10px;
}

/* Languages switcher style */

.select select {
  background-color: rgb(29, 39, 56);
  color: var(--whiteColor);
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
}

.select select option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: auto;
}

.flag-name {
  margin-left: 10px;
}

/* Buy me a coffe */

.buy-me-coffe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: solid 1px var(--whiteColor);
  border-radius: 10px;
  padding: 1px 10px;
  margin: 5px 0;
  background: #c1a84a;
}

.coffee-icon {
  color: yellow;
}

.coffee-text {
  font-size: 13px;
}

/*
font-family: ui-sans-serif,system-ui,
-apple-system,BlinkMacSystemFont,
Segoe UI,Roboto,Helvetica Neue,
Arial,Noto Sans,sans-serif,
Apple Color Emoji,Segoe UI Emoji,
Segoe UI Symbol,Noto Color Emoji;
 */
